@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,html{
  height: 100vh;
  background-image: url(https://t4.ftcdn.net/jpg/01/16/88/37/360_F_116883786_wuckft1sNw1ouQfJ6FuquZnxea3qBlxy.jpg);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
}

#root{
  height: 100%;
}

.image-container {
  width: 230px; /* Width you want for the container */
  height: 160px; /* Height you want for the container */
  position: relative;
  overflow: hidden;
  border-radius: 8px; /* Optional: Adds rounded corners */
}

.image-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-preview {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the container without distortion */
}


.react-calendar {
  width: 100%; /* Make sure the calendar takes full width */
}